:root {

    /*PRIMARY COLORS*/

    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /*NEUTRAL COLORS*/

    --Dark-gray: hsl(0, 0%, 59%);
}

/*GLOBAL*/

* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
main {
    
    
    
    display: inline-block;
    
}

.profile-stats {
    display: flex;
    background-color: white;

}

.profile-info {
    position: relative;
    background-color: white;
}
 
.profile-info img {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -1em);
    border-radius: 50%;
}
    

/*BACKGROUND*/

.background-container {
    display: flex;
    width: auto;
    overflow: hidden;
    height: 100vh;
    background-color: var(--Dark-cyan);
    position: absolute;
    z-index: -1;
}

.background-container img {
    width: 60%;
    object-fit: contain;
}

.img-left {
    transform: translate(-20%, -20%);
}

.img-right {
    transform: translate(20%, 20%);
}