:root {

    /*PRIMARY COLORS*/

    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /*NEUTRAL COLORS*/

    --Dark-gray: hsl(0, 0%, 59%);
}

/*GLOBAL*/

* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

/*ABSTRACT AND PROFILE IMAGES*/

.top-images {
    position: relative;
    display: flex;
    justify-content: center;
}


.abstract {
    z-index: 1;
}
.victor {
    position: absolute;
    z-index: 1;
    top: 67%;
    border-radius: 50%;
    border: 5px solid white;
}

/*PROFILE INFO*/

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 4em;
    padding-bottom: 2em;
    gap: 1em;
}



.profile-info span {
    font-size: .8em; 
    color: var(--Dark-gray);  
}

.profile-info h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    width: 100%;
}

.profile-info p {
    color: hsl(0, 0%, 59%);
}

/*PROFILE STATS*/

.profile-stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em 0;
    border-top: 1px solid hsl(0, 0%, 59%);
   
}


.stats-section p {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 0.7em;
    color: hsl(0, 0%, 59%);
}

    
/*BACKGROUND*/

.background-container {
    display: flex;
    width: auto;
    overflow: hidden;
    height: 100vh;
    background-color: var(--Dark-cyan);
    position: absolute;
    z-index: -2;
}

.background-container img {
    width: 60%;
    object-fit: contain;
    
}

.img-left {
    transform: translate(-20%, -20%);
    z-index: -2;
}

.img-right {
    transform: translate(20%, 20%);
    z-index: -2;
}